.nh-menu-item {
    position: relative;

    margin-top: 4px;
    padding-left : 24px;
    padding-right: 16px;

    height     : 40px;
    line-height: 40px;

    user-select: none;
    transition : 0.4s;

    background-color: cadetblue;
}


/* .nh-menu-item-focus {
    background-color: #e6f7ff;
    color           : #1890ff;
}

.nh-menu-item-focus::after {
    position    : absolute;
    top         : 0;
    right       : 0;
    bottom      : 0;
    border-right: 3px solid #1890ff;
    content     : "";
    animation   : elongateBorder 0.2s;
}

@keyframes elongateBorder {
    from {
        transform: scaleY(0);
    }
} */