.nh-submenu {
    position: relative;
    margin-top: 4px;

    user-select: none;
    transition : 0.4s;
}

/* .nh-submenu-focus {
    background-color: #e6f7ff;
    color           : #1890ff;
}

.nh-submenu-focus::after {
    position    : absolute;
    top         : 0;
    right       : 0;
    bottom      : 0;
    border-right: 3px solid #1890ff;
    content     : "";
    animation   : elongateBorder 0.2s;
}

@keyframes elongateBorder {
    from {
        transform: scaleY(0);
    }
} */

/* **************************** */

.nh-submenu__header {
    padding-left : 24px;
    padding-right: 16px;

    height          : 40px;
    line-height     : 40px;
    background-color: yellowgreen;
}

/* **************************** */
.nh-submenu__body {
    list-style : none;
    padding    : 0;
    overflow: hidden;

    transition: height .3s;
}

.nh-submenu__body>.nh-menu-item {
    padding-left   : 24px;
    padding-left   : 48px;
}

