.nh-btn {
    position: relative;
    margin  : 4px;
    padding : 0 20px;
    height  : 28px;

    border-width : 1px;
    border-radius: 2px;
    border-color : var(--nh-line);

    box-shadow      : 0 2px #0000000b;
    background-color: var(--nh-light-text);

    color      : var(--nh-text);
    line-height: 1.5;
    font-size  : 14px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, apple color emoji,
        segoe ui emoji, Segoe UI Symbol, noto color emoji;

    transition: 0.3s;
    cursor    : pointer;
}

/* nomal */
.nh-btn-nomal:hover {
    border-color: var(--nh-primary-hover);
    color       : var(--nh-primary-hover);
}
.nh-btn-nomal:active {
    border-color: var(--nh-primary-active);
    color       : var(--nh-primary-active);
}
.nh-btn-nomal:focus {
    border-color: var(--nh-primary-hover);
    color       : var(--nh-primary-hover);
}

/* primary */
.nh-btn-primary {
    border-color    : var(--nh-primary);
    background-color: var(--nh-primary);
    color           : var(--nh-light-text);
    text-shadow     : 0 -1px 0 rgb(0 0 0 / 12%);
}
.nh-btn-primary:hover {
    border-color    : var(--nh-primary-hover);
    background-color: var(--nh-primary-hover);
}
.nh-btn-primary:active {
    border-color    : var(--nh-primary-active);
    background-color: var(--nh-primary-active);
}

/* danger */
.nh-btn-danger {
    border-color: var(--nh-danger);
    color       : var(--nh-danger);
}
.nh-btn-danger:hover {
    border-color: var(--nh-danger-hover);
    color       : var(--nh-danger-hover);
}
.nh-btn-danger:active {
    border-color: var(--nh-danger-active);
    color       : var(--nh-danger-active);
}

/* fadeEffect 褪色效果 */
/* 为了能修改到 --fadeEffectColor 的值 */
.nh-btn-click {
    --fadeEffectColor: var(--nh-primary);
}

.nh-btn-click::after {
    position           : absolute;
    inset              : 0;
    border-radius      : 2px;
    box-shadow         : 0 0 0 6px transparent;
    opacity            : 0.2;
    content            : "";
    animation          : fadeEffect 1.4s;
    animation-fill-mode: forwards;
}
@keyframes fadeEffect {
    0% {
        box-shadow: 0 0 0 0px var(--fadeEffectColor);
        opacity   : 0.2;
    }

    15% {
        box-shadow: 0 0 0 5px var(--fadeEffectColor);
        opacity   : 0.05;
    }

    100% {
        box-shadow: 0 0 0 5px;
        opacity   : 0;
    }
}

/* disabled */
.nh-btn-nomal-disabled {
    border-color    : #dfe1e6;
    background-color: #f5f5f6;
    color           : #adb0b8;
    box-shadow      : none;
    cursor: not-allowed;
}
.nh-btn-primary-disabled {
    border-color    : var(--nh-primary-disabled);
    background-color: var(--nh-primary-disabled);
    color           : var(--nh-light-text);
    box-shadow      : none;
    cursor: not-allowed;
}
.nh-btn-danger-disabled {
    border-color    : var(--nh-danger-disabled);
    background-color: var(--nh-danger-disabled);
    color           : var(--nh-light-text);
    box-shadow      : none;
    cursor: not-allowed;
}